html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  position: relative;
  overflow-x: hidden;
}

body {
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
  color: #000;
  font-weight: 400;
}

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

li,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

button:focus,
input:focus {
  outline: transparent;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow-x: hidden;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.container__fluid {
  max-width: 1615px;
  margin: 0 auto;
  padding: 0 10px;
}

#modal {
  display: none;
}

.btn {
  cursor: pointer;
}

.title {
  font-size: 40px;
  line-height: 55px;
  @include pt700;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
}

.text{
line-height: 30px;
}