@media (max-width: 1664px) {
	.hit__item {
		max-width: 375px;
	}
}

@media (max-width: 1230px) {
	.item-tiny {
		width: 45%;
		height: 147px;
	}
}

@media (max-width: 1070px) {
	.offers .slick-arrow {
		right: 30%;
	}
}

@media(max-width: 935px) {
	.footer__box {
		width: 200px;
		padding: 15px;
	}

	.footer__logo {
		margin-bottom: 15px;

		.logo__img {
			width: 70%;
		}

		.contacts__address {
			margin-bottom: 15px;
		}
	}

	.item-tiny {
		width: 35%;
	}

	.faq__item-title {
		font-size: 25px;
		letter-spacing: 0px;
		max-width: 715px;
	}

	.faq__item-title::after,
	.faq__item-title.active::after {
		right: -16%;
		width: 32px;
		height: 32px;
	}

	.faq__item {
		padding: 35px;
	}

}

@media(max-width: 900px) {

	.consultation__form-input {
		display: block;
		justify-content: center;
		text-align: center;
		margin: 0 auto;
		margin-bottom: 30px;
		width: 100%;

	}

	.consultation__form-button {
		width: 100%;
	}

	.consultation {
		min-height: 655px;
		padding: 160px 0 130px;
	}

	.faq__item-title::after,
	.faq__item-title.active::after {
		right: -9%;
		width: 30px;
		height: 30px;
	}

	.faq__item {
		padding: 35px;
	}

	.faq__item-title {
		font-size: 25px;
		max-width: 670px;
	}
}


@media (max-width: 795px) {

	.title {
		font-size: 35px;
		line-height: 45px;
	}

	.hit__item {
		max-width: 460px;
	}

	.products {
		padding-top: 15px;
		padding-bottom: 35px;
	}

	.products__inner {
		padding-bottom: 15px;
	}

	.products__slider-img {
		width: 145px;
	}

	.products__line {
		margin-bottom: 30px;
	}

	.services__list {
		flex-wrap: nowrap;
		height: auto;
	}

	.services__item {
		width: 590px;
		min-height: 590px;
		margin-bottom: 10px;

		&:hover {
			background-size: 105%;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	.services__item-title {
		font-size: 20px;
	}

	.services__item-text,
	.services__item-btn {
		font-size: 16px;
	}

	.offers__subtitle {
		font-size: 25px;
		line-height: 36px;
		margin-bottom: 44px;
	}

	.offers .slick-arrow {
		top: -74px;
		right: 25%;
	}

	.faq__item-title::after,
	.faq__item-title.active::after {
		right: -5%;
		width: 25px;
		height: 25px;
	}

	.faq__item {
		padding: 20px 25px 20px 15px;
	}	

	.faq__item-title {
		font-size: 20px;
		max-width: 570px;
	}
	.faq__inner {
    max-width: 665px;
}
}


@media(max-width: 560px) {
	.offers__subtitle {
		font-size: 25px;
		line-height: 36px;
		margin-bottom: 44px;
	}

	.offers .slick-arrow {
		top: -74px;
		right: 20%;
	}
}

@media(max-width: 470px) {

	.title {
		font-size: 25px;
		line-height: 30px;
	}

	.advantages__item-1:after {
		top: 36px;
		left: 9px;
	}

	.advantages__item::before {
		width: 88px;
		height: 88px;
	}

	.advantages__item-2::after {
		top: 30px;
		left: 20px;
	}

	.advantages__item-3::after {
		top: 24px;
		left: 22px;
	}

	.advantages__item {
		padding-left: 115px;
		margin-bottom: 55px;
	}

	.advantages__inner {
		padding: 50px 0 45px;
	}

	.advantages__item-title {
		font-size: 20px;
		line-height: 30px;
	}

	.advantages__item-text {
		font-size: 18px;
	}

	.advantages__box {
		max-width: 350px;
	}

	.products__promo,
	.consultation__info {
		font-size: 18px;
	}

	.footer__box {
		font-size: 15px;
		width: 142px;
		padding: 10px;
	}

	.services__item {
		width: 470px;
		min-height: 470px;
		margin-bottom: 5px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.offers__subtitle {
		font-size: 21px;
		line-height: 30px;
		margin-bottom: 35px;
	}

	.offers .slick-arrow {
		top: -62px;
		right: 10%;
	}
}